.banner{
    background-color: #709dca;
    height: 590px;
    color:#fff;
}

.bannerText{
    text-align: center;
    padding-top: 110px;
    
}

.bannerText p{
    font-family: OpenSans-Light;
    font-size: 16px;
}

.bannerForm{
    display: flex;
    justify-content: center;
    padding-top: 36px;
    margin-bottom: 66px;
}

.group{
    padding-right: 30px;
}


.inp{
    width: 280px;
    height: 46px;
    border-radius: 4px;
    font-family: OpenSans-Reg;
    font-size: 13px;
}

.inp::placeholder{
    padding-left: 42px;
}

i.fa {
    text-align: center;
    position: relative;
    color:#6e6e6e;
    margin-right: -35px;
  }
  

.formBut{
    width: 210px;
    text-transform: uppercase;
    background-color: #ffbb42;
    color: #fff;
    font-size: 14px;
}

.slider{
    display: flex;
    justify-content: center;
}

.slides{
    display: flex;
    justify-content: center;
    padding-top: 24px ;
}

.slides input{
    margin-left: 8px;
}