.howItWork{
    height: 860px;
    display: flex;
    flex-direction: column;
}

.workText{
    text-align: center;
    padding-top: 156px;
}

.workText h2{
    text-transform: uppercase;
    color: #394b50;
    font-size: 30px;
    font-family: MyriadPro-Reg;
}

.workText p{
    color: #606d70;
    font-size: 18px;
    font-family: Lato-Light;
}

.steps{
    display: flex;
    padding: 0 265px;
}

.step{
    text-align: center;
    padding: 0 44px;
    position: relative;
}

.step h3{
    color: #394b50;
    font-size: 20px;
    font-family: Lato-bold;
    text-transform: uppercase;
    padding-bottom: 28px;
}

.step p{
    color: #7b7b7b;
    font-size: 13px;
    line-height: 22px;
    font-family: OpenSans-Reg;
}

.step img{
    padding: 112px 0 100px 0;
}

.stepIMG{
    position: absolute;
    width: 128px;
    height: 30px;
    
}

.a1{
    padding: 82px 0 0 264px;
}

.a2{
    padding: 176px 0 0 590px;
}

.a3{
    padding: 82px 0 0 916px;
}

.workBut{
    width: 164px;
    height: 46px;
    background-color: #ffbb42;
    border-radius: 4px;
    font-family: Lato-Reg;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    
    margin-top: 94px;
    align-self: center;
}