*{
 margin: 0;
 padding: 0;   
}

header{
    height: 94px;
    font-family: 'Lato', sans-serif;
    display: flex;
    color: black;
}

a{
    text-decoration: none;
}

h1{
    text-transform: uppercase;
    padding-bottom: 12px;
    font-family: MyriadPro-Reg;
    font-size: 35px;
}

input{
    outline: none;
    border: none;
}

button{
    outline: none;
    border: none;
}

@font-face{
    font-family: OpenSans-Reg;
    src: url('../font/OpenSans-Regular.ttf');
}

@font-face{
    font-family: OpenSans-Light;
    src: url('../font/OpenSans-Light.ttf');
}

@font-face{
    font-family: MyriadPro-Reg;
    src:url('../font/ofont.ru_Myriad Pro.ttf');
}

@font-face{
    font-family: Lato-Reg;
    src: url('../font/Lato-Regular.ttf');
}

@font-face{
    font-family: Lato-bold;
    src: url('../font/Lato-Bold.ttf');
}

@font-face{
    font-family: Lato-Light;
    src: url('../font/Lato-Light.ttf');
}